<div id="overlay"></div>
<video width="100%" height="100%" id="player" preload="auto" autoplay muted loop >
    <source type="video/mp4" src="/assets/venezia.mp4" ></source>
    <source type="video/ogg" src="/assets/venezia.ogg" ></source>
    <source type="video/webm" src="/assets/venezia.webm" ></source>
</video> 

<section id="info">
    <ul>
        <li>
            <span>350</span>
            milioni di utenti
        </li>
        <li>
            <span>280</span>
            hotels
        </li>
        <li>
            <span>127</span>
            ristoranti
        </li>
    </ul>
</section> 

<section id="sc00">
    <h1>Venezia è unica. Come te.</h1>
    <h2>Scopri come  vivere la tua esperienza perfetta a Venezia</h2>
    <form>
        <ul class="tabs clearfix">
            <li><a href="#null">Musei e chiese</a></li>
            <li><a href="#null">Trasporto pubblico</a></li>
            <li><a href="#null">Transfer Marco Polo</a></li>
            <li><a href="#null">Servizi</a></li>
            <li><a href="#null">Wi-Fi</a></li>
        </ul>
        <div class="fields clearfix">
            <input type="text" id="dp1" class="span2" value="Partenza il 02/16/12" data-date-format="mm/dd/yy">
            <input type="text" id="dp2" class="span2" value="Arrivo dal 02/16/12" data-date-format="mm/dd/yy">
            <input type="text" class="keywords" placeholder="Keywords (es.Caravaggio)">
            <a href="/search"><input type="submit" value="Cerca" class="btn cerca"></a>
        </div>
    </form>
    
    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      

      <!-- Wrapper for slides -->
      <div class="carousel-inner">
        <div class="item active">
          <%= image_tag("01.jpg") %>
          <span>Prossimi eventi</span>
          <div class="caption">
            <h4>21 Maggio 2014</h4>
            <p>Carlo Saraceni, un Veneziano tra Roma e l'Europa in mostra a Palazzo Venezia</p>
          </div>
        </div>
        <div class="item">
          <%= image_tag("02.jpg") %>
          <span>Arte</span>
          <div class="caption">
            <h4>Chiuso il martedì e il 25 dicembre</h4>
            <p>La Collezione Peggy Guggenheim è uno dei più importanti musei in Italia per l'arte europea ed americana del XX secolo con sede a Venezia presso Palazzo Venier</p>
          </div>
        </div>
        <div class="item">
          <%= image_tag("03.jpg") %>
          <span>Mostre</span>
          <div class="caption">
            <h4>25 Maggio 2014</h4>
            <p>La Collezione Peggy Guggenheim è uno dei più importanti musei in Italia per l'arte europea ed americana del XX secolo con sede a Venezia presso Palazzo Venier</p>
          </div>
        </div>
      </div>
    </div>

</section>       
