// Place all the styles related to the homepage controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#player {
	width: 100% !important;
	height: 100% !important;
}
#overlay { 
	background:rgba(0,0,0,.45);
	width:100%; 
	height:100%; 
	position:absolute; 
	z-index:2; 
	top:0; 
	left:0; 
}
.profile { width:45px; height:50px; display:inline-block; background:#da182a ;  }
.profile.nolog {background:#da182a url(sprite.png) 0 -45px no-repeat; }
.profile.nolog a:hover {
	height: 50px;
	background: #e74c3c url(sprite.png) 0 -45px no-repeat !important ;
}

#info { position:absolute; z-index:100; top:115px; left:0; width:100px; overflow: hidden;}
#info ul { list-style:none; padding: 0 !important; }
#info li { color:#fff; font-size:12px; text-align:center; border-top:solid 1px #fff; padding:22px 0;}
#info li:first-of-type { border:none;} 
#info li span { font-size:36px; display:block; color:#fff; }

#sc00 { position:absolute; z-index:12; top:45px; left:240px; padding-top:70px; width: 625px;}
#sc00 h1, h2 { color:#fff; text-shadow: 0px 0px 10px rgba(0,0, 0, 1);}
#sc00 h1 { font-size:36px;}
#sc00 h2 { font-size:18px;}

#sc00 .tabs { margin-top:25px;}
#sc00 .tabs li { list-style:none; float:left; margin-left:1px; margin-bottom:1px; background:rgba(255,255,255,.75);  -webkit-transition: all 2s ease-out;  -moz-transition: all 2s ease-out; -o-transition: all 2s ease-out; ms-transition: all 2s ease-out; transition: all 2s ease-out;}
#sc00 .tabs li.sel { background:rgba(0,0,0,.75); }
#sc00 .tabs li.sel a { color:#fff;}
#sc00 .tabs li:fisrt-of-type { margin-left:0;}
#sc00 .tabs a { text-decoration:none; line-height:60px; color:#333; text-align:center; display:inline-block; font-size:14px; width:124px; font-weight:bold; letter-spacing:-1px; word-spacing:-1px; background:url(ico-cat.png) 0 0 no-repeat;  -webkit-transition: all 2s ease-out;  -moz-transition: all 2s ease-out; -o-transition: all 2s ease-out; ms-transition: all 2s ease-out; transition: all 2s ease-out;}
#sc00 .tabs li:nth-child(2) a { background-position: -125px 0; }
#sc00 .tabs li:nth-child(3) a { background-position: -250px 0; }
#sc00 .tabs li:nth-child(4) a { background-position: -375px 0; }
#sc00 .tabs li:nth-child(5) a { background-position: -500px 0; }
#sc00 .tabs li.active { background: rgba(0,0,0,.75); }

#sc00 .item span { 
	background:rgba(0,0,0,.57); 
	color:#fff; 
	text-transform:uppercase; 
	font-size:14px; 
	line-height:34px; 
	z-index:4; 
	right:0; 
	top:10px; 
	position:absolute; 
	text-decoration:none; 
	padding:0 15px; 
	display:inline-block;  
}
.caption {
	position: absolute;
	top: 40px;
	left: 20px;
	color: #fff;
}
#sc00 .fields { 
	background:rgba(0,0,0,.75); 
	padding:45px 22px; 
	margin-top:1px; 
	width: 100%; 
}
input.keywords {
	width: 175px !important;
}
#sc00 .fields input[type=text], #sc00 .fields input[type=date] {  
	appearance:none;  
	-webkit-appearance:none; 
	-moz-appearance: none; 
	width: 130px; 
	height:45px; 
	outline:none; 
	color:#666 !important; 
	padding:0 10px; 
	border:solid 1px #e3e3e3; 
	font-size:12px;
	float:left; 
	margin-right:15px;
}

#sc00 .fields input[type=submit] { 
	background:#da182a;
	height:45px; 
	color:#fff; 
	font-size:18px; 
	text-transform:uppercase; 
	width:100px;  
	float:left;
}
.cerca {
	-webkit-border-radius: 0 !important;
	-moz-border-radius: 0 !important;
	border-radius: 0 !important;
}

.modal-dialog {
	z-index: 999;
	margin-top: 150px;
}
.modal-backdrop {
	z-index: 99;
}
.modal-content h4 {
	background: #da182a;
	font-size: 30px;
	line-height: 70px;
	font-weight: bold;
	color: #fff;
	text-align: center;
	margin: 0;
}
.modal-content-wrapper {
	padding: 15px;
}
.modal-content-wrapper p {
	color: #666;
	font-size: 22px;
	letter-spacing: -1px;
	text-align: center;
	padding: 0 40px;
	margin: 18px 0;
}
.fb {
	font-size: 20px;
	width: 320px;
	height: 50px;
	margin: 0 auto;
	background: -webkit-linear-gradient(left, #3b579d, #3b579d 15%, #4f68a7 15%, #4f68a7 );
}
.fb-icon {
	float: left;
	width:48px; 
	height:50px; 
	background:url(f.png) center center no-repeat;  
	float:left;
}
.fb-link {
	display: block;
	float: right;
	height: 50px;
	padding-top: 10px;
	padding-right: 16px;
	color: #fff;
	text-decoration: none;
}
.fb-link:hover {
	text-decoration:none;
	color: #fff;
}
.close {
	margin-right: 15px;
	margin-top: 10px;
}