<% flash.each do |name, msg| %>
  <% if msg.is_a?(String) %>
    <div data-alert class="alert  alert alert-<%= name == :notice ? "success" : "danger" %>">
      <%= content_tag :span, msg %>
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    </div>
  <% end %>
<% end %>